
        body {
            background-color: aquamarine;
        }

        h1 {
            color: blue;
        }
        h2{
            color: blue;
        }
        h3{
            color: blue;
        }
        hr {
            
            border-style: none;
            border-top-style: dotted;
            border-color: brown;
            border-width: 5px;
           width: 30%;
        

           
        
    